@import "tailwindcss";

@layer base {
  * {
    font-family: 'Helvetica Now', Helvetica, Arial, sans-serif;
  }
  
  body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}